

html {
  background-color: #242424;
}

body {
  background-color: #242424;
}
    

.hero-container { 
  background-color: #242424;
  text-align: center;
   margin-top: 40px; 
   
   color: white; }
.hero-title { 
  padding-top: 1.2rem; 
  background-color: #242424 ;
}
.hero-image { width: 100%; max-width: 500px; height: auto; margin-bottom: 20px; }
.refer-button { 
  background-color: #242424 ;
  margin: 20px 0; 
}
